<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/applogo"
        android:label="E-Form A"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/applogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiFormA"
        tools:targetApi="31"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".TentangKami"
            android:exported="false" />
        <activity
            android:name=".pengisian.Lampiran"
            android:exported="false" />
        <activity
            android:name=".pengisian.TandaTangan"
            android:exported="false" />
        <activity
            android:name=".pengisian.PotensiSengketa"
            android:exported="false" />
        <activity
            android:name=".pengisian.DugaanPelanggaran"
            android:exported="false" />
        <activity
            android:name=".pengisian.UraianSingkat"
            android:exported="false" />
        <activity
            android:name=".pengisian.KegiatanPengawasan"
            android:exported="false" />
        <activity
            android:name=".pengisian.JenisTahapan"
            android:exported="false" />
        <activity
            android:name=".pengisian.DataPengawas"
            android:exported="false" />
        <activity
            android:name=".pengisian.NomorSurat"
            android:exported="false" />
        <activity
            android:name=".KebijakanPrivasi"
            android:exported="false" />
        <activity
            android:name=".TentangAplikasi"
            android:exported="false" />
        <activity
            android:name=".PanduanPengisian"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".GetStarted"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC7mB_9WxaH7dQXKVIgF2Gm2SI_xyfBAZs" />
    </application>

</manifest>